.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  container-type: inline-size;
  container-name: grid;
  width: 100%;
  min-width: 0;
}

.billede {
  grid-column: 1/2;
  grid-row: 1/4;
  z-index: 2;
  position: relative;
}

.billede img {
  object-fit: cover;
  object-position: top;

  height: 70vh;
}

.titel {
  z-index: 1;
  grid-column: 2/4;
  grid-row: 1/2;
  text-wrap: nowrap;
  container-type: inline-size;
  position: relative;
}

.titel h1 {
  position: relative;
  font-size: clamp(3rem, 38cqw, 24rem);
  text-transform: uppercase;
  margin: 0;
}

.tekst {
  grid-row: 2/4;
  grid-column: 2/3;
  position: relative;
  z-index: 1;
}

.tekst p {
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

.fakta {
  grid-row: 2/4;
  grid-column: 3/5;
  white-space: normal;
}

.fakta p {
  font-size: clamp(2rem, 3.8vw, 3rem);
  line-height: 1;
  margin: 0rem;
}

@container grid (max-width: 1060px) {
  .tekst {
    grid-column: 2 / 5;
    grid-row: 3/4;
    margin-top: 0;
  }

  .fakta {
    grid-column: 2 / 5;
    grid-row: 2/3;
    margin-top: 7cqw;
  }
}

@container grid (max-width: 700px) {
  .titel {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .titel h1 {
    font-size: clamp(4.7rem, 26cqw, 10.5rem);
  }

  .billede {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .billede img {
    width: 50cqw;
    height: 50cqw;
  }

  .fakta {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  .tekst {
    grid-column: 1/5;
    grid-row: 4/5;
  }
}

@container grid (max-width: 550px) {
  .billede {
    grid-column: 1/5;
    grid-row: 2/4;
  }

  .billede img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .fakta {
    grid-column: 1/5;
    grid-row: 4/5;
    margin: 0;
  }

  .tekst {
    grid-column: 1/5;
    grid-row: 5/6;
  }
}
