.about-grid {
  position: relative;
  width: 100%;
  display: grid;

  container-name: skill-container;
  container-type: inline-size;
  position: relative;
}

.cv-header {
  height: auto;
  width: 100%;
  z-index: 1;
  grid-row: 1/3;
  grid-column: 1/2;
}

.cv-header img {
  object-fit: contain;
  object-position: top center;
}

.content-grid {
  grid-row: 2/4;
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

  container-name: content-grid;
  container-type: inline-size;
  position: relative;
}

.left {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  container-name: left;
  container-type: inline-size;
  position: relative;
}

.units {
  display: flex;
  flex-direction: row;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.85;
}

.number p {
  font-family: Montserrat;
  font-weight: 900;
  color: var(--color-light-pink);
  font-size: clamp(2rem, 5vw, 4rem);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: inherit;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.text-box h3 {
  color: var(--color-orange);
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(1.8rem, 3.5vw, 3rem);
  margin: 0;
  padding: 0;
}

.text-box strong {
  text-transform: uppercase;
  color: var(--color-dark-purple);
}

.text-box p {
  margin: 0;
}

.text-box ul {
  margin: 0;
}

.right {
  z-index: 2;
}

.container {
  background-color: var(--color-purple);
  padding: 2rem 1rem;
  margin: 1rem auto;
  container-type: inline-size;
}

.container h2 {
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-offwhite);
  position: relative;
  font-size: clamp(2rem, 15cqw, 6rem);
}

.container > div:first-child h2 {
  font-size: clamp(2rem, 27cqw, 7rem);
}

.skills-list {
  padding: 0;
  padding-left: 1.2rem;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem 2rem;

  max-width: 300px;
  width: 100%;
}

.skills-list li {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  color: var(--color-light-pink);
}

.language-list {
  padding: 0;
  padding-left: 1.2rem;
  margin: 0;

  max-width: 300px;
  width: 100%;
}

.language-list li,
.education-list li {
  color: var(--color-light-pink);
}

.container p {
  margin: 0;
  padding: 0;
  padding-left: 1.2rem;
}

@container skill-container (max-width:700px) {
  .content-grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .right {
    width: 100%;
  }

  .skills-list {
    max-width: 100%;
  }
}

@container content-grid (max-width: 700px) {
  .left {
    flex-direction: column;
    width: 100%;
  }
}

@container left (max-width: 400px) {
  .units {
    flex-direction: column;
  }

  .number {
    flex-direction: row;
    justify-content: space-between;
  }
}
