.project_grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-height: 100vh;
  min-width: 0;
  gap: 1rem;
}

/* HERO (øverste område) */
.carousel {
  grid-column: 5/11;
  width: 100%;
  grid-row: 1/2;
}

.text_container {
  grid-column: 1/5;
  grid-row: 1/2;
}

.bigTitle {
  margin: 0;
  font-size: clamp(1.5rem, 5.5vw, 6.5rem);
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 0rem;
}

.subtitle {
  margin: 0;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  color: var(--color-pink);
}

.twoCols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
  max-width: 1100px;
}

.twoCols p {
  margin: 0.5rem 0;
}

.project_grid > * {
  min-width: 0;
}

.carousel,
.text_container {
  min-width: 0;
}

@media (max-width: 840px) {
  .carousel {
    grid-column: 1 / -1;
    padding: 0 1rem;
    grid-row: 1/2;
  }
  .text_container {
    grid-column: 1 / -1;
    padding: 0 1rem;
    grid-row: 2/3;
  }

  .twoCols {
    display: flex;
    flex-direction: column;
  }
}
